<!-- JoJo System Actor Sheet -->
<form class="flexcol {{cssClass}}" autocomplete="off">

    <!-- Sheet Header -->
    <header class="sheet-header flexrow">
        <!-- Character Image -->
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        
        <!-- Name and Resources -->
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="resource">
                <label>Health</label>
                <input type="number" name="system.health.value" value="{{system.health.value}}" />
                <span> / </span>
                <input type="number" name="system.health.max" value="{{system.health.max}}" />
            </div>
            <div class="resource">
                <label>Power</label>
                <input type="number" name="system.power.value" value="{{system.power.value}}" />
                <span> / </span>
                <input type="number" name="system.power.max" value="{{system.power.max}}" />
            </div>
        </div>
    </header>

    <!-- Tabs -->
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="inventory">Inventory</a>
    </nav>

    <!-- Tab Content -->
    <section class="sheet-body">

        <!-- Description Tab -->
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
        </div>

        <!-- Attributes Tab -->
       <div class="tab attributes" data-group="primary" data-tab="attributes">
    <h3>Attributes</h3>

    <!-- Normal Stats -->
    <table class="attributes-table">
        <thead>
            <tr>
                <th>Strength</th>
                <th>Dexterity</th>
                <th>Constitution</th>
                <th>Wisdom</th>
                <th>Intelligence</th>
                <th>Charisma</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="number" name="system.stats.strength" value="{{system.stats.strength}}" /></td>
                <td><input type="number" name="system.stats.dexterity" value="{{system.stats.dexterity}}" /></td>
                <td><input type="number" name="system.stats.constitution" value="{{system.stats.constitution}}" /></td>
                <td><input type="number" name="system.stats.wisdom" value="{{system.stats.wisdom}}" /></td>
                <td><input type="number" name="system.stats.intelligence" value="{{system.stats.intelligence}}" /></td>
                <td><input type="number" name="system.stats.charisma" value="{{system.stats.charisma}}" /></td>
            </tr>
        </tbody>
    </table>

    <!-- Stand Stats -->
    <table class="attributes-table">
        <thead>
            <tr>
                <th>Power</th>
                <th>Precision</th>
                <th>Durability</th>
                <th>Speed</th>
                <th>Range</th>
                <th>Stand Energy</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="number" name="system.standStats.power" value="{{system.standStats.power}}" /></td>
                <td><input type="number" name="system.standStats.precision" value="{{system.standStats.precision}}" /></td>
                <td><input type="number" name="system.standStats.durability" value="{{system.standStats.durability}}" /></td>
                <td><input type="number" name="system.standStats.speed" value="{{system.standStats.speed}}" /></td>
                <td><input type="number" name="system.standStats.range" value="{{system.standStats.range}}" /></td>
                <td><input type="number" name="system.standStats.standEnergy" value="{{system.standStats.standEnergy}}" /></td>
            </tr>
        </tbody>
    </table>
</div>


        <!-- Inventory Tab -->
        <div class="tab inventory" data-group="primary" data-tab="inventory">
            <h3>Inventory</h3>
            <ol class="item-list">
                {{#each items as |item|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    <a class="item-control" title="Edit Item" data-action="edit"><i class="fas fa-edit"></i></a>
                    <a class="item-control" title="Delete Item" data-action="delete"><i class="fas fa-trash"></i></a>
                </li>
                {{/each}}
            </ol>
            <button type="button" class="item-create" data-action="createItem">
                <i class="fas fa-plus"></i> Add Item
            </button>
        </div>
    </section>
</form>
